p {
  padding: 0;
  margin: 3%;
  border-radius: 5px;
  background-color: #97ff4d;
  font-size: 1.5vw;
}

p:hover {
  cursor: pointer;
}

select {
  width: 75%;
}

label {
  /* width: 15vw; */
  font-size: 1.3vw;
  display: block;
}

input#team {
  width: 15vw;
}

ul.suggestions {
  /* width: 15vw;
  max-height: 100px; */
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: left;
  /* overflow-x: hidden;
  overflow-y: scroll;
  border-style: solid;
  border-width: 0px 0px 1px 0px; */
  /* z-index: 100; */
  /* -webkit-padding-start: 0; */
}

.suggestions-div {
  width: 15vw;
  max-height: 100px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    'title-bar title-bar'
    'side-bar odds-container';
  /* overflow-x: hidden; */
}

.title-bar {
  grid-area: title-bar;
  /* background-color: lime; */
  text-align: left;
}

.title {
  font-size: 3vw;
  padding-left: 3%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.side-bar {
  grid-area: side-bar;
  background-color: pink;
  text-align: center;
  /* display: flex; */
}

.odds-container {
  grid-area: odds-container;
  display: grid;
  /* grid-template-columns: 100%; */
  grid-template-rows: 10% 90%;
  grid-template-areas:
    'odds-header'
    'odds-card-display';
  background-color: lightblue;
  /* overflow-y: hidden; */
}

.odds-header {
  grid-area: odds-header;
  background-color: yellow;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-areas: 'odds-sport-label league-filter team-search';
  z-index: 100
  /* font-size: 80%; */
}

.odds-sport-label {
  text-align: left;
  grid-area: odds-sport-label;
  /* display: inline; */
  /* float: left; */
  padding-left: 2vw;
  font-size: 3vw;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* .filter-and-search {
  grid-area: filter-and-search;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    'league-filter'
    'team-search';
} */

.league-filter {
  grid-area: league-filter;
  text-align: left;
  align-items: center;
}

.team-search {
  grid-area: team-search;
  text-align: left;
  overflow: visible;
}

.odds-card-display {
  grid-area: odds-card-display;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow-y: scroll;
  /* align-items: center; */
}

.favorites {
  width: 15vw;
  min-height: 15vw;
  display: inline-block;
  margin-top: 10%;
  background-color: grey;
}

.filter {
  width: 15vw;
  min-height: 15vw;
  display: inline-block;
  margin-top: 5%;
  background-color: grey;
}

.odds-card {
  display: inline-block;
  overflow: hidden;
  /* text-align: center; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: orange;
  width: 20vw;
  height: 20vw;
  margin: 4% 3% 0% 3%;
}

.league-header {
  padding: none;
  margin: 3% 0 1% 0;
  font-size: 2vw;
}

.away-team {
  margin-bottom: 1%;
  font-size: 1.8vw;
}

.home-team {
  margin-top: 1%;
  font-size: 1.8vw;
}

.versus {
  margin: 0;
  font-size: 1.5vw;
  background-color: orange;
}

.odds {
  margin: 0;
  font-size: 1.5vw;
  background-color: orange;
}

.suggestion {
  padding: 0;
  /* z-index: 100; */
  background-color: white;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  white-space: nowrap;
  height: 20px;
}

.suggestion-active {
  background-color: lightblue;
}

/* .suggestion-first {
  border-width: 1px 1px 0px 1px;
}

.suggestion-last {
  border-width: 0px 1px 1px 1px;
} */
